.yazi {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.bgcolor {
    background-color: #eee;
}

.completed {
    background-color: #fe43a2;
}